<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <img src="../../../assets/perfil.jpeg" class="img-fluid">
        </div>  
        <div class="col-2">
            <p>Marcelo Zaracho</p>
            <p>Web Developer Full Stack Jr.</p>
        </div>
        <div class="col-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error quae quos dignissimos quod aliquid dolore eligendi repellat iste? Magnam animi consequuntur impedit, eum veritatis culpa laborum magni quisquam molestiae possimus!</p>
            </span>
        </div>
    </div>
</div>

