.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    
}
#logoAP{
    width: 150px;
}
img{
    width: 40px;
}
.redes{
    margin-right: 0.5em;
}
.btn{
    border-width: 0.15em;
    margin: 0.3em;
}
.redes img{
    margin: 0.3em;
}
/*Configuracion para equipos de menor resolucion*/

@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
}